body{
    background-color: lightgrey;
}

#poslovi{

    margin: 10px 0px;
    background-color: whitesmoke;
    border-radius: 15px;
    border: graytext 1px solid;
}


.posao{
    border-top: graytext 1px solid;
    padding: 5px;
}

.posao a{
    font-size: 20px;
    color: darkslategrey;
    text-decoration: none;
    font-weight: bold;
}

.posao a:hover{
    color: darkgray;
}

.posao p{
    color: gray;
}

.tag{
    float: left;
    padding: 2px;
    background-color: lightgrey;
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
}

.rejting,.lokacija{
    clear: both;
    padding: 5px;
}

.lokacija img{
    width: 20px;
}

#search{
    padding: 10px;
}


#main{
    margin-top: 10px;
}

.accordion, .accordion-body, .accordion-button, .accordion-collapse, .accordion-header, .accordion-item{
    background-color: lightgray;
    border: none;
}

.accordion-button{
    border-top: gray 1px solid;
}

.accordion-collapse:active{
    background-color: lightgray;
}